@using MvcBurger.Web.Areas.Admin.Models;
@model GetExtraIngredientsListVM

@{
    ViewData["Title"] = "Extras";
    Layout = "_AdminLayout";
}

<h1>Extras</h1>
<div class="sticky-top">
    <a class="btn btn-primary float-end me-5" asp-area="Admin" asp-action="AddExtra" asp-controller="Home"><i class="mdi mdi-plus"></i> New Ingredient</a>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-8 ">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Ingredient</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var menu in Model.ExstraList)
                    {

                        <tr>
                            <td>@menu.Name</td>
                            <td>$@menu.Price</td>
                            <td>
                                <a type="button" class="btn btn-primary" asp-action="UpdateExtra" asp-controller="Home" asp-route-id="@menu.Id">Update</a>
                                <a type="button" class="btn btn-danger" asp-action="DeleteExtra" asp-controller="Home" asp-route-id="@menu.Id">Delete</a>
                            </td>

                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>Add new ingredient</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
